aniso8601==8.0.0
appdirs==1.4.3
arandr==0.1.10
astroid==2.3.3
autopep8==1.5
beautifulsoup4==4.8.2
bs4==0.0.1
btrfsutil==1.1.1
cairocffi==1.1.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cryptography==2.8
decorator==4.4.2
docopt==0.6.2
docutils==0.14
docutils-stubs==0.0.21
Flask==1.1.1
Flask-JWT==0.3.2
Flask-RESTful==0.3.8
future==0.18.2
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
keyutils==0.6
lazy-object-proxy==1.4.3
lensfun==0.3.95
lightdm-gtk-greeter-settings==1.2.2
louis==3.13.0
Markdown==3.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.18.2
opendht==1.10.1
ordered-set==3.1.1
packaging==20.3
pdfkit==0.6.1
ply==3.11
pwquality==1.4.2
py3status==3.27
pycairo==1.19.1
pycodestyle==2.5.0
pycparser==2.20
PyGObject==3.36.0
PyJWT==1.4.2
pylint==2.4.4
pynput==1.6.8
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.1
python-telegram-bot==12.4.2
python-xlib==0.26
pytz==2019.3
PyYAML==5.3.1
requests==2.20.0
rope==0.16.0
sip==4.19.21
six==1.14.0
soupsieve==2.0
team==1.0
telebot==0.0.3
tk==0.1.0
tornado==6.0.4
tqdm==4.43.0
udiskie==2.1.0
urllib3==1.25.8
vk==2.0.2
vk-api==11.8.0
Werkzeug==1.0.0
wrapt==1.11.2
xcffib==0.9.0
